#cards {
    padding: 0 !important;
    margin: 0 !important;

    .right-side {
        height: auto;

        .col {
            height: auto;
        }
    }

    .container {
        padding: 2vh 0 !important;
    }

    .tar-card {
        overflow: hidden;
        position: relative;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 10px !important;
        width: 500px;
        transition: all .3s ease-in-out;

        &:hover .content {
            transform: translate(0, 0);
            opacity: 1;
        }

        .image-container {
            max-width: 500px;
            height: 80vh;
            max-height: 800px;
        }

        .content {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateY(100%);
            opacity: 0;
            background-color: rgba(255, 255, 255, 0.95);
            display: flex;
            flex-direction: column;
            padding: 30px !important;
            transition: all 0.3s ease-in-out;

            .button {
                background-color: #AF8738;

                &:hover {
                    background-color: royalblue;
                }
            }

            .spec {
                margin-bottom: 40px;
                font-size: .65em;
                background-color: royalblue;
                color: white;
                width: fit-content;
                padding: 4px 8px !important;
                border-radius: 5px;
            }

            .tar-card-title {
                font-weight: bolder;
            }

            .tar-card-price {
                font-weight: bold;
                color: #616161;
                font-family: "Abahya";

                &::after {
                    content: ' euros';
                }

            }


            ul {
                margin: 30px 0;
                margin-left: 20px;

                span {
                    font-size: .6em;
                    color: rgb(100, 100, 100);

                    &::before {
                        content: '- ';
                    }
                }
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

@media only screen and (min-width: 800px) {
    .tar-card {
        max-width: 50vh;
    }

    .card-wrapper {
        flex-direction: row !important;
    }
}

@media only screen and (max-width: 1000px) {
    #cards {

        .button {
            font-size: .7em !important;
        }

        .right-side {
            padding: 0 10px !important;
        }

        .row {
            justify-content: center;
        }

        .card-wrapper {
            flex-direction: column ;
            gap: 80px;
        }

        h2 {
            font-size: .8em;
        }

        * {
            height: auto;
        }

        ul li span {
            font-size: .5em !important;
        }

        .tar-card {
            width: 90vw;
            background-color: #fefefe;

            .image-container {
                width: 100%;
                height: 300px !important;
            }

            .content {
                padding: 0 !important;
                padding-top: 10px !important;
                position: relative;
                transform: translate(0, 0);
                opacity: 1;
            }

            .spec {
                margin-bottom: 20px !important;
            }

            img {
                width: 100%;
            }

            ul {
                line-height: 1;
                margin: 20px 0 !important;
            }
        }
    }
}