header {
    width: 100%;
    height: 100vh;

    position: relative;

    background-image: url("../assets/images/background.webp");
    // background-image: url("https://images.unsplash.com/photo-1601934025804-c631e2777f26?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .container {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 120px;
        padding-bottom: 0;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #header-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 50px !important;

        img {
            width: 25vw;
        }
    }


    nav {
        transition: all .4 ease-in-out;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-end;

        ul {
            gap: 50px;
        }

        a {
            font-size: 30px;
            font-weight: bold;
            position: relative;
        }
    }
}

#title {
    white-space: nowrap;
    width: fit-content;
    color: #323232;
    margin: 0 !important;
    margin-top: 80px !important;

}

#header-bottom {
    background-color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;

    display: flex;
    justify-content: center;

    img {
        width: 40px;
        margin: 0 5px;

        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);

        &:hover {
            transform: scale(1.12) translate(0, -5px);
        }
    }
}

#header-bottom-mobile {
    display: none;
}

@media only screen and (max-width: 1900px) {

    header {
        // background-image: url("../assets/images/10.webp") !important;
        background: white;
        height: fit-content;
        width: 100%;

        #title {
            font-size: 30px !important;
            margin: 0 !important;
            font-size: 1.8em !important;
        }

        #header-bottom-mobile {
            display: block;

            .row {
                flex-direction: row !important;
                justify-content: center;
            }

            img {
                width: 30px;
                margin: 0 5px !important;
            }
        }

        #header-bottom {
            display: none;
        }

        .container {
            padding: 50px !important;
        }

        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #header-top {
            img {
                width: 30vh !important;
            }

            padding: 50px 30px !important;
            padding-bottom: 0 !important;
        }

        nav>ul {
            transition: all .2s ease-in-out;
            display: flex;
            justify-content: center;
            overflow: hidden;
            height: 100vh;
            width: 400px;

            position: fixed;
            background-color: white;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 6;
            text-align: center;
            transform: translateX(100%);

            border-left: 2px solid #323232;
        }
    }
}

@media only screen and (max-width: 500px) {
    header {
        nav>ul {
            width: 100%;
        }
    }
}