#about {
  padding: 120px 120px;
  position: relative;
  min-height: 100vh;

  h3 {
    white-space: nowrap;
    width: fit-content;
    display: flex;
    justify-content: center;
    color: #323232;
    position: relative;
    margin: 120px 0 !important;

    &::before {
      content: '→ Découvrez mon histoire ←';
      transition: all .2s ease-in-out;
    }

    &:hover::before {
      transform: scale(1.02);
      color: #AF8738;
    }

  }

  .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      transition: all .2s ease-in-out;

      &:hover{
      background-color: #323232;
      color: white;
    }
    }
  }

    .container {
        display: flex;
        align-items: center;
        // overflow: hidden;
        height: auto;
    }

    .image-container{
      width: 100%;
      display: flex;
      justify-content: center;
    }

    p {
      overflow-y: auto;
      max-height: 800px;
    }

    .right-side {
        max-width: 100%;
        justify-content: center;
    }

    img {
        max-width: 500px;
        height: 100% !important;
        display: block;
        object-fit: cover;
    }
  }

@media only screen and (min-width: 450px) {
  #about{
    img{
      object-fit: contain !important;
    }
  }
}

@media only screen and (min-width: 450px) {
  #about{
    img{
      object-fit: contain !important;
    }
    p{
      margin: 0 auto !important;
      width: 80vw;
      text-align: justify !important;
    }
  }
}

@media only screen and (max-width: 1900px) {

  #about {
    margin-top: 60px !important;
    * {
      padding: 0 !important;
    }

    h3 {
      font-size: 30px !important;
      margin: 60px 0 !important;

      &::before {
        content: '→Découvrez mon histoire←';
      }
    }

    img {
      object-fit: contain;
      width: 80vw;
    }

    .container {
      flex-direction: column !important;
      align-items: center;
      // margin-top: 120px !important;
      max-height: none !important;
    }

    .btn-container {
      padding-top: 0 !important;
      width: 100vw !important;

      flex-direction: row;
      flex-wrap: wrap;
      gap: 3px !important;

      justify-content: space-evenly;
    }

    .button {
      margin: 0 !important;
      padding: 8px 16px !important;
      font-size: 16px;
      font-family: "Raleway";
      outline: none;
      background-color: #212121;
      color: white;
    }

    .right-side {
      max-width: 100% !important;
      padding: 0 10px !important;

      p {
        letter-spacing: 0;
        line-height: 1.4;
        text-align: center;
        font-size: 20px;
        max-height: 50vh;
      }
    }
  }
}